body {background-color: #a6d3a0}

h2{
  color #a6d3a0;
  font-size: 200;
  border: dashed 2px lightblue;
  font-family: 'Cinzel', serif;
  
    
}
img{border:dotted lightpink 5px }

table, tr, td {
  border: 1px solid black;
  border-collapse: collapse; 
  padding: 10px; 
}

table {width: 60%; 
text-align: center;
}
#otherList {
  list-style: inside;
}

skincare table, tr, td {
  border: 1px solid black;
  border-collapse: collapse; 
  padding: 10px; 
}

skincare table {width: 60%; 
text-align: center;
}
#otherList {
  list-style: inside;
}

#Nav {
  list-style-type: none;
  width: 100%; 
  overflow: hidden;
  position: fixed; 
  background-color: lightpink;
  top: 0; 
  margin: 0;
  left: 0; 
}

li a {
  display: block; 
  float: left;
  padding: 15px; 
  color: grey;
}

li a:hover {
  background-color: lightblue; 
  color: maroon; 
}

